body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h1, h2 {
    color: #211C84;
  }
  .title{
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #4D55CC;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #7A73D1;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    width: 500px;
    background: #fff;
    margin: 10px 5PX;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li strong {
    color: #211C84;
  }
  
  li button {
    background-color: #ff4d4d;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  li button:hover {
    background-color: #4e00cc;
  }
  .eventt{
    background-color: #211C84;
    padding: 5px 10px;
    font-size: 14px; 
  }
  .eventt :hover{
    background-color: #2e2b69;
    padding: 5px 10px;
    font-size: 14px; 
  }